        <!-- Menu panel (mobile) -->
        <div id="uc-menu-panel" data-uc-offcanvas="overlay: true;">
            <div class="uc-offcanvas-bar bg-white text-dark dark:bg-gray-900 dark:text-white">
                <header class="uc-offcanvas-header hstack justify-between items-center pb-2 bg-white dark:bg-gray-900">
                    <div class="uc-logo">
                        <a href="index.html" class="h5 text-none text-gray-900 dark:text-white">
                            CodeCore
                        </a>
                    </div>
                    <button class="uc-offcanvas-close rtl:end-auto rtl:start-0 m-1 mt-2 icon-3 btn border-0 dark:text-white dark:text-opacity-50 hover:text-primary hover:rotate-90 duration-150 transition-all" type="button">
                        <i class="unicon-close"></i>
                    </button>
                </header>
                <div class="panel">
                    <ul class="nav-y gap-narrow fw-medium fs-6" data-uc-nav>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="blog/">Blog</a></li>
                        <li><a href="kontakt.html">Kontakt</a></li>
                    </ul>
                    <div class="py-2 hstack gap-2 mt-4 bg-white dark:bg-gray-900" data-uc-sticky="position: bottom">
                        <div class="vstack gap-1">
                            <span class="fs-7 opacity-60">Theme:</span>
                            <div class="darkmode-trigger" data-darkmode-switch="">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider fs-5"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
